/* Styles applied to root element */
.uitk-density-touch {
  --form-field-label-top-margin-bottom: 8px;
}
.uitk-density-low {
  --form-field-label-top-margin-bottom: 4px;
}
.uitk-density-medium {
  --form-field-label-top-margin-bottom: 2px;
}
.uitk-density-high {
  --form-field-label-top-margin-bottom: 2px;
}

.uitkFormLabel {
  --form-label-margin-top: 2px;
}

.uitkFormLabel {
  box-sizing: border-box;
  color: var(--uitkFormLabel-text-color, var(--uitk-text-secondary-color));
  display: flex;
  font-size: var(--uitkFormLabel-font-size, var(--uitk-text-caption-font-size));
  margin-bottom: var(--uitkFormLabel-margin-bottom, var(--form-label-top-margin-bottom));
  margin-top: var(--uitkFormLabel-margin-top, var(--form-label-margin-top));
  line-height: var(--uitkFormLabel-line-height, var(--uitk-typography-line-height));
  padding-right: var(--uitkFormLabel-padding-right, var(--uitk-spacing-unit));
  padding-left: var(--uitkFormLabel-padding-left, var(--uitk-spacing-unit));
  padding-top: var(--uitkFormLabel-padding-top, 0);
  padding-bottom: var(--uitkFormLabel-padding-bottom, 0);
  text-overflow: ellipsis;
  transform: var(--uitkFormLabel-transform, translate(0, var(--form-label-margin-top)));
  white-space: nowrap;
}

/* Styles applied if `disabled={true}` */
.uitkFormLabel-disabled {
  cursor: var(--uitk-editable-cursor-disabled);
  opacity: var(--uitkFormLabel-disabled-opacity, var(--uitk-opacity-foreground));
}

/* Styles applied if `displayedNecessity` or `necessityText` provided */
.uitkFormLabel-necessityIndicator {
  font-style: italic;
  margin-left: 1ch;
}

/* Styles applied if `hasStatusIndicator={true}` */
.uitkFormLabel-statusIndicator {
  margin-left: 6px;
}
